<launch>
  <!-- Load the Optitrack launch file -->
  <include file="$(find vrpn_client_ros)/launch/sample.launch">
      <arg name="server" value="192.168.1.181" />
  </include>  

  <!-- Load the offline IPP node -->
  <node pkg="ros_sgp_ipp" name="offlineIPP" type="offlineIPP.py" output="screen" />
  
  <group ns = "tb3_0">
    <!-- Load the robot launch file -->
    <node name="limo_base_node" pkg="limo_base" type="limo_base_node" output="screen" >
        <param name="port_name" value="ttyTHS0" />
        <param name="odom_frame" value="odom" />
        <param name="base_frame" value="base_link" />
        <param name="use_mcnamu" value="false" />
        <param name="pub_odom_tf" value="false" />
        <remap from="/odom" to="odom"/>
        <remap from="/imu" to="imu"/>
        <remap from="/cmd_vel" to="cmd_vel"/>
        <remap from="/limo_status" to="limo_status"/>
    </node>

    <!-- Load the data publisher node -->
    <node pkg="ros_sgp_ipp" name="data_publisher" type="data_publisher.py" output="screen" />

    <!-- Load the trajectory planner and online IPP nodes -->
    <node pkg="ros_sgp_ipp" name="trajectory_planner" type="trajectory_planner.py" output="screen" />

    <!-- Load the online IPP node -->
    <node pkg="ros_sgp_ipp" name="onlineIPP" type="onlineIPP.py" output="screen" />
  </group>
</launch>